* {
  margin: 0;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  background-color: #1f2039;
}

a {
  color: #242424;
  text-decoration: none;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: "Montserrat", sans-serif;
}

h2 {
  color: #f9f8ff;
}

li,
p {
  font-size: 1.1em;
  color: #f9f8ff;
}

header,
footer {
  padding: 20px 50px;
  background-color: #fff;
}

.cta {
  background: linear-gradient(#8e86b5, #acaeed);
  color: #fff;
  border-radius: 50px;
  padding: 20px 30px;
}

a:hover {
  text-decoration: underline;
}

.cta:hover {
  background: linear-gradient(#696484, #8788BA);
  text-decoration: none;
}

.line-icone:hover {
  opacity: 0.5;
}

.new_border {
  border-bottom: 1px #8e86b5 solid;
  border-right: 1px #8e86b5 solid;
  padding: 50px;
}

.new_border h2 {
  margin-top: 30px;
}

.new_border ul {
  margin-top: 30px;
}

section {
  padding: 80px;
}

.a-propos-main {
  width: 50%;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  padding-left: 15px;
}

.last-project {
  background-color: #fff;
}

.last-project h2 {
 color: #000;
 text-align: center;
}

.introduction {
  display: flex;
  justify-content: center;
}

.introduction-content {
  width: 40%; 
  margin: 0;
}

.galery-photos {
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}